@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Noto+Sans:wght@400;700&display=swap');

:root {
  font-family: 'Noto sans', 'Mouse Memoirs' system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

 h1, h2, h3 {
  font-family: 'Mouse Memoirs', sans-serif;
}

.font-noto {
  font-family: 'Noto Sans', sans-serif;
  color: red;
}

.font-mouse {
  font-family: 'Mouse Memoirs', sans-serif;
}
